/* QUICK AND DIRTY CSS FOR PROTOTYPE APP */

body {
    background-color: #000;
    margin-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.PageHolder {
    margin: 0 auto;
    width: 75vw;
}

/* SEARCH FORM */

.searchContainer {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    grid-gap: 24px;
    margin-bottom: 48px;
}

input[type="text"] {
    background-color: rgb(16, 45, 73);
    border: 1px solid rgb(114, 114, 114);
    font-size: 1.4em;
    color: #efefef;
    padding: 9px;
    border-radius: 4px;
    min-height: 24px;
}

select {
    background-color: rgb(16, 45, 73);
    border: 1px solid rgb(114, 114, 114);
    color: #eee;
    padding: 9px;
    font-size: 1em !important;
    width: 100%;
    align-self: center;
    height: 48px;
}

button {
    background-color: rgb(16, 45, 73);
    border: 1px solid rgb(114, 114, 114);
    margin-right: 24px;
    height: 48px;
    align-self: center;
    font-size: 1.2em;
    color: #eee;
    padding: 4px;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(8, 21, 34);
}

/* SEARCH ITEMS */

.cardHolder {
    position: relative;
    cursor: pointer;
    background-image: url('./img/cover.jpg');
    background-size: cover;
    min-height: 360px;
    min-width: 240px;
    background-color: rgb(6, 53, 75);
    border-radius: 8px;
    border: 1px solid rgb(124, 124, 124);
}

.cardHolderTitle {
    position: absolute;
    background-color: rgb(131, 30, 114);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 9px 0px 9px 0px;
    text-transform: uppercase;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
}

.cardHolderTitle.active {
    background-color: rgb(255, 255, 255);
    border: 1x solid #666;
    align-self: center;
    min-height: 48px;
    border-radius: 0;
    width: 100%;
    color: #222;
    font-weight: bold;
}

/* SEARCH RESULT DISPLAY */

.contentHolder h1 {
    color: #eee;
    font-size: 1em;
    text-transform: uppercase;
}

.resultPageHolder {
    display: grid;
    background-color: rgb(19, 19, 19);
    border: 1px solid #333;
    align-self: center;
    justify-items: center;
    width: 99%;
    margin-top: 18px;
    margin-bottom: 24px;
    padding: 24px;
}

.no_results {
    padding: 9px;
    background-color: rgb(83, 67, 67);
    border: 2px dotted rgb(129, 0, 0);
}

.resultPage {
    display: grid;
    color: #eee;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    justify-items: center;
    width: 100%;
}


/* GAME PAGE */

.gameInfo {
    display: grid;
    min-width: 100%;
    grid-gap: 18px;
    grid-template-columns: 200px 1fr;
}

.gamePageHolder {
    display: grid;
    background-color: rgb(19, 19, 19);
    border: 1px solid #333;
    width: 98%;
    margin-top: 36px;
    padding: 24px;
}

.gameCover img {
    width: 180px;
}

.gamePageTitle {
    display: inline-block;
    width: 100%;
}

.gameDetails {
    align-items: stretch;
    margin-left: 15px;
    color: #efefef;
}

.gamePageTitle h1 {
    display: inline;
    margin-left: 15px;
    padding: 9px 18px 9px 18px;
    border-radius: 4px;
    color: #fff;
    background-color: #881947;
}

.closeButton {
    display: inline;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 4px;
    padding: 8px 18px 8px 18px;
    color: #fff;
    background-color: red;
}

.song-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #fff;
}

.song-list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid rgb(71, 71, 71);
    color: #fff;
    font-weight: 700;
    background-color: rgb(42, 51, 80);
    letter-spacing: 2px;
}

.song-list:hover {
    background-color: #222;
}

.song-list.active {
    background-color: rgb(87, 24, 62);
}

.song-item {
    padding: 9px 9px 9px 9px;
    border-bottom: 1px solid rgb(71, 71, 71);
}

@media (max-width: 1260px) { 
    .searchContainer {
        display: grid;
        grid-template-columns: 55% 20% 20%;
        grid-gap: 48px;
        margin-bottom: 24px;
    }

    .resultPage {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

 @media (max-width: 960px) { 
    .resultPage {
        grid-template-columns: 1fr 1fr;
    }
 }

 @media (max-width: 680px) { 
    .cardHolder {
        min-height: 260px;
        min-width: 140px;
    }
    
    .resultPage {
        grid-template-columns: 1fr 1fr;
    }
 }


 @media (max-width: 460px) { 
    .cardHolder {
        min-height: 420px;
        min-width: 300px;
    }
    
    .resultPage {
        grid-template-columns: 1fr;
    }
 }