/* QUICK AND DIRTY CSS FOR PROTOTYPE APP */

body {
    background-color: #333;
    margin-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.PageHolder {
    margin: 0 auto;
    width: 75vw;
}

/* SEARCH FORM */

.searchContainer {
    display: grid;
    grid-template-columns: 80% 124px;
    margin-bottom: 24px;
}

input[type="text"] {
    background-color: #111;
    font-size: 1.4em;
    color: #efefef;
    border: 1px solid #444;
    padding: 9px;
    border-radius: 4px;
    min-height: 24px;
}

button {
    margin-left: 18px;
    background-color: rgb(17, 49, 78);
    border: 1px solid rgb(68, 68, 68);
    font-size: 1.2em;
    color: #eee;
    padding: 4px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(8, 21, 34);
}

/* SEARCH ITEMS */

.cardHolder {
    position: relative;
    background-image: url('./img/cover.jpg');
    background-size: cover;
    min-height: 240px;
    min-width: 192px;
    background-color: rgb(6, 53, 75);
}

.cardHolder:hover {
    zoom: 100%; 
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
}

.cardHolderTitle {
    position: absolute;
    background-color: rgb(15, 34, 87);
    min-width: 100%;
    top: 4px;
    padding: 9px 0px 9px 0px;
    text-transform: uppercase;
    text-align: center;
    color: #eee;
    border-top: 1px solid rgb(46, 46, 46);
    border-bottom: 1px solid rgb(46, 46, 46);
}

/* SEARCH RESULT DISPLAY */

.contentHolder h1 {
    color: #eee;
    font-size: 1em;
    text-transform: uppercase;
}

.resultPageHolder {
    display: grid;
    background-color: #111;
    align-self: center;
    justify-items: center;
    width: 100%;
    margin-top: 18px;
    padding: 24px;
}

.no_results {
    padding: 9px;
    background-color: rgb(83, 67, 67);
    border: 2px dotted rgb(129, 0, 0);
}

.resultPage {
    display: grid;
    color: #eee;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    justify-items: center;
    width: 100%;
    min-height: 24px;
}


/* GAME PAGE */

.gameInfo {
    display: grid;
    min-width: 100%;
    grid-gap: 18px;
    grid-template-columns: 200px 1fr;
}

.gamePageHolder {
    display: grid;
    background-color: #111;
    width: 100%;
    margin-top: 18px;
    padding: 24px;
}

.gameCover img {
    width: 180px;
}

.gamePageTitle {
    display: inline-block;
    width: 100%;
}

.gameDetails {
    align-items: stretch;
    margin-left: 15px;
    color: #efefef;
}

.gamePageTitle h1 {
    display: inline;
}

.gamePage li {
    display: block;
}

.gamePage ul {
    list-style-type: none;
}

.closeButton {
    display: inline;
    cursor: pointer;
    margin-left: 15px;
    padding: 4px;
    color: #fff;
    background-color: red;
}

@media (max-width: 1200px) { 
    .resultPage {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

 @media (max-width: 860px) { 
    .resultPage {
        grid-template-columns: 1fr 1fr;
    }
 }

 @media (max-width: 600px) { 
    .resultPage {
        grid-template-columns: 1fr;
    }
 }